node_modules/
vendor/
.expo/
.expo-shared/
.next/
out/
dist/
build/
.env
.env.local
.DS_Store
Thumbs.db
coverage/
/examples/demo-mobile/.agents

# V.E.S.P.E.R. Local Databases
*.db
*.db-shm
*.db-wal

# Go Binaries
*.exe
bin/

# Generated Packages by npm
*.tgz
